GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
RPC= https://rpc.testnet.arc-node.thecanteenapp.com/v1/
CIRCLE_API_KEY=your_key
CIRCLE_ENTITY_SECRET=your_encrypted_secret
CIRCLE_WALLET_SET_ID=your_wallet_set_id
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_CIRCLE_APP_ID=