GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
RPC= https://rpc.testnet.arc-node.thecanteenapp.com/v1/
CIRCLE_API_KEY=your_key
CIRCLE_ENTITY_SECRET=your_encrypted_secret
CIRCLE_WALLET_SET_ID=your_wallet_set_id
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_CIRCLE_APP_ID=
NEXT_PUBLIC_CIRCLE_BASE_URL=https://api.circle.com
NEXT_PUBLIC_CIRCLE_REDIRECT_URI=http://localhost:3000/circle/callback
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network